.toggle {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    background-color: #007E8F;
    margin: 2vh;
    border-radius: 15px;
}

.toggle svg {
    width: 6vh;
    height: 4.5vh;
}

.toggle div {
    float: left;
    display: flex;
    align-items: center;
    width: 5.5vh;
    height: 5vh;
    margin: 1.1vh;
}

/* nonSmokingIcon css */
.nonSmokingIcon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
    cursor: pointer;
}

.nonSmokingIconOpen {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
    cursor: pointer;
}

.nonSmokingIcon:active, .nonSmokingIconOpen:active {
    transform: scale(0.9);
}

/* smokingIcon css */
.smokingIcon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.smokingIconOpen {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.smokingIcon:active, .smokingIconOpen:active {
    transform: scale(0.9);
}

/* Responsive design for toggle button */
@media (max-width: 768px) {
    .toggle {
        width: 130px;
        height: 58px;
        margin: 10px;
        border-radius: 10px;
    }

    .toggle svg {
        width: 40px;
        height: 30px;
    }

    .toggle div {
        width: 42px;
        height: 40px;
        margin: 8px;
        margin-left: 12px;
    }
}

.state {
    width: 12.5vh;
    height: 6.8vh;
    position: absolute;
    background: white;
    border-radius: 15px;
    border: 2.5px solid #007E8F;
    z-index: 1;
    right: 20vh;
    top: 0;
    margin-top: 2.2vh;
}

.box1, .box2, .box3 {
    position: absolute;
    display: flex;
    align-items: center;
}

.box1 {
    width: 15vh;
    height: 1.5vh;
    left: 1vh;
    top: 0.5vh;
}

.box2 {
    width: 15vh;
    height: 1.5vh;
    left: 1vh;
    top: 2.6vh;
}

.box3 {
    width: 15vh;
    height: 1.5vh;
    left: 1vh;
    top: 4.9vh;
}

.circle {
    width: 1.5vh;
    height: 1.5vh;
    position: absolute;
    border-radius: 50%;
}

.green {
    background: #7CFF89;
}

.orange {
    background: #FFBA5A;
}

.red {
    background: #E83600;
}

.labelText {
    margin-left: 2vh;
    text-align: center;
    color: black;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
} 

/* 모바일 화면에서 .state 요소 좌상단에 위치시키기 */
@media (max-width: 768px) {
    .state {
        right: auto; /* right 속성 무효화 */
        left: 1vh;  /* 좌상단으로 이동 */
        top: 1vh;   /* 좌상단으로 이동 */
        margin-top: 0; /* margin-top 초기화 */
        width: 14vh;
    }
}
