/* 기본 스타일 설정 */
.sidebar {
    width: 100px;
    height: 100vh;
    animation-name: Close;
    animation-duration: 0.5s;
    background-color: #007E8F;
    box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.sidebarHeader {
    padding: 24.5px 18px 23px;
}

.sidebarHeader a {
    text-decoration: none;
}

.sidebarHeader .activeIcon {
    width: 60px;
    height: 45px;
    margin-left: 2%;
}

.sidebarHeader .activeIcon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.menu {
    margin-left: 18px;
}

.menu svg {
    width: 60px;
    height: 45px;
}

.menu div {
    display: flex;
    align-items: center;
    width: 60px;
    height: 55px;
    margin-bottom: 22px;
}

.menu .Icon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.menu h1 {
    color: white;
}

.menu .IconOpen {
    width: 90%;
    position: relative;
}

.menu .IconOpen:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
    cursor: pointer;
}

.menu .Icon:active,
.menu .IconOpen:active {
    transform: scale(0.9);
}

.menu .IconOpen .down,
.menu .IconOpen .up {
    transition: transform 0.3s ease;
    position: absolute;
    right: 0;
    z-index: 4;
}

.menu .IconOpen .down {
    transform: rotate(-90deg);
}

.menu .IconOpen .up {
    transform: rotate(90deg);
}

/* 사이드바가 오픈할 경우 */
.sidebarOpen {
    width: 400px;
    height: 100vh;
    display: block;
    animation-name: Open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: #007E8F;
}

.sidebarOpen .sidebarHeader {
    display: flex;
}

.sidebarOpen .sidebarHeader p {
    margin-top: 15px;
    margin-left: 8%;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.sidebarOpen .sidebarHeader .activeIcon {
    width: 60px;
    height: 45px;
    margin-left: 3%;
    margin-top: 1%;
    transform: rotate(180deg);
}

@keyframes Open {
    0% {
        width: 100px;
    }
    100% {
        width: 400px;
    }
}

@keyframes Close {
    0% {
        width: 400px;
    }
    100% {
        width: 100px;
    }
}

/* 모바일 화면에서의 플로팅 버튼 */
.sidebarButton {
    width: 60px;
    height: 60px;
    background-color: #007e8f;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.sidebarButtonIcon {
    width: 25px;
    height: 25px;
    fill: white;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 메뉴 아이템의 기본 스타일 */
.menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 80px;
    right: 25px;
    z-index: 999;
}

/* 애니메이션 적용 */
.menuItem {
    display: flex;
    align-items: center;
    width: 160px;
    height: 45px;
    background-color: #007e8f;
    border-radius: 22.5px;
    margin-bottom: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding-right: 12px;
    cursor: pointer;
    flex-direction: row-reverse;
    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
}

.menuItem:nth-child(1) {
    animation-delay: 0.5s;
}

.menuItem:nth-child(2) {
    animation-delay: 0.4s;
}

.menuItem:nth-child(3) {
    animation-delay: 0.3s;
}

.menuItem:nth-child(4) {
    animation-delay: 0.2s;
}

.menuItem:nth-child(5) {
    animation-delay: 0.1s;
}

.menuItem span {
    color: white;
    margin-right: 8px;
    font-size: 14px;
}


/* 미디어 쿼리 추가: 모바일 화면에 대한 설정 */
@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebarOpen {
        display: none;
    }

    .sidebarButton {
        display: flex;
        z-index: 1;
    }

    .menuItems {
        display: flex;
    }
}

/* 미디어 쿼리 추가: 데스크탑 화면에 대한 설정 */
@media only screen and (min-width: 769px) {
    .sidebarButton {
        display: none;
    }

    .menuItems {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .sidebarOpen {
        display: block;
    }
}
