.verificationList {
    position: absolute;
    top: -100px; /* 상단 메뉴로부터 50px 아래 */
    left: 300px; /* 사이드 메뉴로부터 200px 오른쪽 */
    width: 300px; /* 리스트의 너비 */
    height: calc(100vh); /* 화면의 높이에 맞추기, 상단 여백 50px */
    z-index: 5;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
}

.verificationList button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.verificationList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.verificationList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.mainColor {
    color: #007E8F;
}
